# OS
.DS_Store
Thumbs.db
desktop.ini
*dc_store*

# Agents/Tools
.agents
.claude
.kiro

# Editors
*.swp
*~
.backup

# Env, secret, and certs
.env
.env.*
*.env
secrets*
*.secret*
*.pem

# Logs
*.log
*.log.*

# Tests
.coverage
coverage.xml
*.profraw

# Caches
.cache
__pycache__/
*.py[cod]
*.pdb
**/*.rs.bk

# Profiles
*profile*

# Build Artifacts
target
